<suite name="selenium">
    <test name="browser">
        <classes>
            <class name="herokuApp.LoginTest"/>
            <class name="bowsers.ChromeTest">
                <methods>
                    <include name="headlessMode"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>